extends layout

mixin toolbar
  nav
    a.btn.btn-default(href="/#{pagename}/edit") Bearbeiten

block content
  if flash != null
    .alert.alert-success #{flash}
  +toolbar
  p
    small Version 
      i !{page.version} 
      i !{page.user} 
  p !{page.content}
  small.categories Kategorien: !{p.categories}
  +toolbar
