extends layout

mixin toolbar
  nav
    a.btn.btn-link(href="/#{pagename}/v") Changelog
    a.btn.btn-default(href="/#{pagename}/edit") Bearbeiten

block content
  +toolbar
  if flash != null
    .alert.alert-success #{flash}
  p
    small Version 
      i !{page.version} 
      | von 
      i !{page.user} 
      |: 
      i !{page.msg}
  p !{page.content}
  small.categories Kategorien: !{p.categories}
  +toolbar
